In [1]:
import pandas as pd

# 1. Configuração dos Tickers (Blue Chips B3)
tickers_blue_chips = [
    'PETR4.SA',  # Petrobras
    'VALE3.SA',  # Vale
    'ITUB4.SA',  # Itaú
    'BBDC4.SA',  # Bradesco
    'WEGE3.SA',  # WEG
    'ABEV3.SA',  # Ambev
    'B3SA3.SA',  # B3
    'BBAS3.SA'   # Banco do Brasil
]

In [4]:
import yfinance as yf

ticker = yf.Ticker("PETR4.SA")
hist = ticker.history(period="1y", interval="1d")
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-01-13 00:00:00-03:00,33.503334,33.709922,33.206925,33.296745,22897100,0.0,0.0
2025-01-14 00:00:00-03:00,33.332672,33.350636,32.856620,33.072189,29173100,0.0,0.0
2025-01-15 00:00:00-03:00,33.170993,33.521296,33.054225,33.494350,32512700,0.0,0.0
2025-01-16 00:00:00-03:00,33.422492,33.449441,33.027280,33.278778,26733200,0.0,0.0
2025-01-17 00:00:00-03:00,33.242851,33.593156,33.099137,33.413513,39941100,0.0,0.0